#mainScroll {
    .mainContents {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .contentMargin {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 1000px;
            height: fit-content;
    
            .contentMain {
                min-width: calc(100% - 10px);
                min-height: calc(100% - 10px);
                margin: 0 0 10px 0;
                border: 1px solid black;
                border-radius: 10px;
                overflow: hidden;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    #siteDescription {
        .title {
            padding: 10px;
            font-size: 40px;
            background: rgb(77, 110, 0);
            border-bottom: 1px solid black;
        }

        .body {
            padding: 1px 10px;
            background: rgb(77, 110, 0);
        }
    }
}